/* html {
    height: 100vh;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu SA Beginner', cursive;
}

body {
    background-color: black;
    height: 400vh;
}

canvas {
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-height: 100vh;
    max-width: 100vw;
    height: 500px;
}

a {
    position: absolute;
    right: 0px;
    margin: 10px;
    color: white;
    text-decoration: none;
}

#loading {width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99}

#loading-image {position: absolute;top: 40%;left: 45%;z-index: 100} 