*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    /* height: 100vh;
    width: 100vw; */
    /* margin: 10px; */
    /* margin: 20px; */
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 100%;
}
.sheet{
    margin: 50px;
    padding: 10px;
    background-color: rgb(250, 255, 249);
    border-radius: 2%;
    border: 3px solid rgb(180, 248, 169);
}
.content{
    height: auto; 
    width: 1000px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* position: absolute; */
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    width: 100%;
}

.pic_container{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    flex: 1;
    /* background-color: grey; */
    display: flex;
    justify-content: center;
}

.pic_container .userimg{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: fill;
    /* background-color: green; */
    border: 2px solid rgb(180, 248, 169);
    overflow: hidden;

}
.pic_container .userimg img {
    height: 150px;
    width: 150px;
    /* margin-right: 200px; */
}
.profileDetail{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 5;
    padding-left: 50px;
}

.profileDetail div{
    margin: 5px;
}

.pic_container img{
    height:100px;
}

.profilesummery{
    height: auto;
    margin: 10px auto;
    /* background-color: antiquewhite; */
    
}
.profilesummery p{
    margin: 10px;
}
.heading p{
    font-size: 20px;
}
.technicalSkills{
    width: 100%;
    /* background-color: green; */
}
.technicalSkillsContainer{
    height: auto;
    /* margin: 10px 0px; */
    /* background-color: antiquewhite; */
    float: left;

    display: flex;
    justify-content: space-evenly;
}
.technicalSkillsContainer div{
    margin-right: 90px;
    width: 100%;
}

.programmingLanguages   {
    height: auto;
    margin: 10px 0px;
    /* background-color: antiquewhite; */
    float: left;
}
.programmingLanguages .heading{
    margin: 10px;
}
.programmingLanguages .pglist{
    margin-left: 50px;
}
.technology{
    height: auto;
    margin: 10px 0px;
    /* background-color: antiquewhite; */
    float: left;
}

.technology .heading{
    margin: 10px;
}
.technology .pglist{
    margin-left: 50px;
}

.Database{
    height: auto;
    margin: 10px 0px;
    /* background-color: antiquewhite; */
    float: left;
}

.Database .heading{
    margin: 10px;
}
.Database .pglist{
    margin-left: 50px;
}

.technicalSkillsContainer .pglist p{
    margin-top: 5px
}

.Education{
    height: auto;
    margin: 10px 0px;
    /* background-color: antiquewhite; */
    float: left;
}

.Education .heading{
    margin: 10px;
}
.Education .pglist{
    margin-left: 50px;
}

.Education .pglist p{
    margin-left: 50px;
    margin-top: 10px;
}
.Experience{
    height: auto;
    margin: 10px 0px;
    /* background-color: antiquewhite; */
    float: left;
}

.Experience .heading{
    margin: 10px;
}
.Experience .pglist{
    margin-left: 50px;
}

.Experience .pglist p{
    margin-left: 50px;
    margin-top: 10px;
}


.expDescription{
    /* color: red; */
    margin-left: 2000px;
    /* text-underline-position: under; */
    /* font-size: 18px; */
}
hr{
    margin: 9px;
    background-color: rgb(180, 248, 169);
    height: 2px;
    border: none;
}

@media only screen and (max-width: 600px) {
    .profile{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: black;
        width: 100%;
    }
  }